In [21]:
import numpy as np
import pandas as pd

In [22]:
company=pd.read_csv('Fortune501.csv')

In [3]:
company.head()

,Rank,Title,Employees,Sector,Industry,Hqlocation,Revenues,Profits
0,1,Walmart,2300000,Retailing,General Merchandisers,"Bentonville, AR",485873,13643.0
1,2,Berkshire Hathaway,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",223604,24074.0
2,3,Apple,116000,Technology,"Computers, Office Equipment","Cupertino, CA",215639,45687.0
3,4,Exxon Mobil,72700,Energy,Petroleum Refining,"Irving, TX",205004,7840.0
4,5,McKesson,68000,Wholesalers,Wholesalers: Health Care,"San Francisco, CA",192487,2258.0

In [4]:
company.shape

(500, 8)

In [6]:
sectors=company.groupby('Sector')   #it groups the same company'

In [7]:
len(sectors)

21

In [8]:
sectors.size()

Sector
Aerospace & Defense              12
Apparel                           5
Business Services                20
Chemicals                        14
Energy                           57
Engineering & Construction       13
Financials                       84
Food & Drug Stores                7
Food, Beverages & Tobacco        24
Health Care                      38
Hotels, Restaurants & Leisure    10
Household Products               12
Industrials                      19
Materials                        19
Media                            11
Motor Vehicles & Parts            9
Retailing                        47
Technology                       43
Telecommunications               10
Transportation                   17
Wholesalers                      29
dtype: int64

In [10]:
max(sectors.size())

84

In [15]:
sectors.size().sort_values()

Sector
Apparel                           5
Food & Drug Stores                7
Motor Vehicles & Parts            9
Hotels, Restaurants & Leisure    10
Telecommunications               10
Media                            11
Household Products               12
Aerospace & Defense              12
Engineering & Construction       13
Chemicals                        14
Transportation                   17
Industrials                      19
Materials                        19
Business Services                20
Food, Beverages & Tobacco        24
Wholesalers                      29
Health Care                      38
Technology                       43
Retailing                        47
Energy                           57
Financials                       84
dtype: int64

In [16]:
sectors.size().sort_values().tail(1)

Sector
Financials    84
dtype: int64

In [19]:
#sectors.groups 
company.iloc[49,:]

Rank                             50
Title           United Technologies
Employees                    201600
Sector          Aerospace & Defense
Industry      Aerospace and Defense
Hqlocation           Farmington, CT
Revenues                      57244
Profits                        5055
Name: 49, dtype: object

In [20]:
sectors.get_group('Energy')  #it displays the groups.

,Rank,Title,Employees,Sector,Industry,Hqlocation,Revenues,Profits
3,4,Exxon Mobil,72700,Energy,Petroleum Refining,"Irving, TX",205004,7840.0
18,19,Chevron,55200,Energy,Petroleum Refining,"San Ramon, CA",107567,-497.0
33,34,Phillips 66,14800,Energy,Petroleum Refining,"Houston, TX",72396,1555.0
36,37,Valero Energy,9996,Energy,Petroleum Refining,"San Antonio, TX",70166,2289.0
50,51,Marathon Petroleum,44460,Energy,Petroleum Refining,"Findlay, OH",55858,1174.0
78,79,Energy Transfer Equity,30992,Energy,Pipelines,"Dallas, TX",37504,995.0
88,89,Exelon,34396,Energy,Utilities: Gas and Electric,"Chicago, IL",31360,1134.0
102,103,World Fuel Services,5000,Energy,Energy,"Miami, FL",27016,126.5
114,115,ConocoPhillips,13300,Energy,"Mining, Crude-Oil Production","Houston, TX",24360,-3615.0
116,117,Tesoro,6308,Energy,Petroleum Refining,"San Antonio, TX",24005,734.0
120,121,Duke Energy,28798,Energy,Utilities: Gas and Electric,"Charlotte, NC",23369,2152.0
121,122,Enterprise Products Partners,6800,Energy,Pipelines,"Houston, TX",23022,2513.1
140,141,Plains GP Holdings,5100,Energy,Pipelines,"Houston, TX",20182,94.0
144,145,Southern,32015,Energy,Utilities: Gas and Electric,"Atlanta, GA",19896,2448.0
156,157,PG&E Corp.,24000,Energy,Utilities: Gas and Electric,"San Francisco, CA",17666,1393.0
166,167,American Electric Power,17634,Energy,Utilities: Gas and Electric,"Columbus, OH",16380,610.9
169,170,NextEra Energy,14700,Energy,Utilities: Gas and Electric,"Juno Beach, FL",16155,2912.0
171,172,PBF Energy,3165,Energy,Petroleum Refining,"Parsippany, NJ",15920,170.8
172,173,Halliburton,50000,Energy,"Oil and Gas Equipment, Services","Houston, TX",15887,-5763.0
174,175,Freeport-McMoRan,30000,Energy,"Mining, Crude-Oil Production","Phoenix, AZ",15789,-4154.0
193,194,AES,19000,Energy,Utilities: Gas and Electric,"Arlington, VA",14287,-1130.0
195,196,FirstEnergy,15707,Energy,Utilities: Gas and Electric,"Akron, OH",14156,-6177.0
214,215,Kinder Morgan,11121,Energy,Pipelines,"Houston, TX",13058,708.0
228,229,NRG Energy,8763,Energy,Energy,"Princeton, NJ",12351,-774.0
230,231,Devon Energy,3545,Energy,"Mining, Crude-Oil Production","Oklahoma City, OK",12197,-3302.0
233,234,Consolidated Edison,14960,Energy,Utilities: Gas and Electric,"New York, NY",12075,1245.0
234,235,Edison International,12390,Energy,Utilities: Gas and Electric,"Rosemead, CA",11869,1311.0
236,237,NGL Energy Partners,3200,Energy,Energy,"Tulsa, OK",11742,-198.9
237,238,Dominion Energy,16200,Energy,Utilities: Gas and Electric,"Richmond, VA",11737,2123.0
255,256,Xcel Energy,11476,Energy,Utilities: Gas and Electric,"Minneapolis, MN",11107,1123.4
262,263,Entergy,13513,Energy,Utilities: Gas and Electric,"New Orleans, LA",10846,-583.6
271,272,DTE Energy,10000,Energy,Utilities: Gas and Electric,"Detroit, MI",10630,868.0
273,274,HollyFrontier,2676,Energy,Petroleum Refining,"Dallas, TX",10536,-260.5
277,278,Occidental Petroleum,11000,Energy,"Mining, Crude-Oil Production","Houston, TX",10398,-574.0
279,280,Sempra Energy,16575,Energy,Utilities: Gas and Electric,"San Diego, CA",10183,1370.0
284,285,Baker Hughes,33000,Energy,"Oil and Gas Equipment, Services","Houston, TX",9841,-2738.0
307,306,Public Service Enterprise Group,13065,Energy,Utilities: Gas and Electric,"Newark, NJ",9061,887.0
311,312,Oneok,2384,Energy,Pipelines,"Tulsa, OK",8921,352.0
327,328,Newmont Mining,12438,Energy,"Mining, Crude-Oil Production","Greenwood Village, CO",8379,-627.0
342,343,Chesapeake Energy,3300,Energy,"Mining, Crude-Oil Production","Oklahoma City, OK",7872,-4401.0
343,344,Anadarko Petroleum,4500,Energy,"Mining, Crude-Oil Production","The Woodlands, TX",7869,-3071.0
348,349,Western Refining,7134,Energy,Petroleum Refining,"El Paso, TX",7743,124.9
355,356,EOG Resources,2650,Energy,"Mining, Crude-Oil Production","Houston, TX",7651,-1096.7
357,358,Eversource Energy,7762,Energy,Utilities: Gas and Electric,"Springfield, MA",7639,942.3
361,362,CenterPoint Energy,7727,Energy,Utilities: Gas and Electric,"Houston, TX",7528,432.0
364,365,PPL,12689,Energy,Utilities: Gas and Electric,"Allentown, PA",7517,1902.0
366,367,Williams,5604,Energy,Energy,"Tulsa, OK",7499,-424.0
367,368,WEC Energy Group,8074,Energy,Utilities: Gas and Electric,"Milwaukee, WI",7472,939.0
374,375,National Oilwell Varco,36384,Energy,"Oil and Gas Equipment, Services","Houston, TX",7251,-2412.0
399,400,Calpine,2372,Energy,Energy,"Houston, TX",6716,92.0
401,402,Targa Resources,1970,Energy,Pipelines,"Houston, TX",6691,-187.3
418,419,CMS Energy,7750,Energy,Utilities: Gas and Electric,"Jackson, MI",6399,551.0
430,431,Ameren,8629,Energy,Utilities: Gas and Electric,"St. Louis, MO",6076,653.0
456,457,UGI,13105,Energy,Energy,"King of Prussia, PA",5686,364.7
479,480,Delek US Holdings,1326,Energy,Petroleum Refining,"Brentwood, TN",5414,-153.7
487,488,Apache,3727,Energy,"Mining, Crude-Oil Production","Houston, TX",5354,-1405.0
498,499,Vistra Energy,4431,Energy,Energy,"Dallas, TX",5164,-214.3

In [23]:
sectors.sum()

                                Rank  Employees  Revenues   Profits
Sector
Aerospace & Defense             2416     863840    338302   25119.7
Apparel                         1456     254650     66254    6318.5
Business Services               6584     845050    194685   23107.1
Chemicals                       3986     364906    188667   15918.3
Energy                         14217     869511   1176417     370.6
Engineering & Construction      4305     329090    124682    5072.2
Financials                     20815    3161998   2067607  228461.2
Food & Drug Stores               594    1390095    389686    8522.0
Food, Beverages & Tobacco       5698    1000309    472806   56308.4
Health Care                     6952    2341423   1318389  105383.9
Hotels, Restaurants & Leisure   2860    1838742    121189   14510.6
Household Products              3556     483344    180846   19803.7
Industrials                     4506    1224296    418359   32826.1
Materials                       6524     385320    169755    5176.9
Media                           3044     378746    180767   20034.7
Motor Vehicles & Parts          2093     819225    392466   17275.8
Retailing                      11414    5819887   1383281   46613.9
Technology                     10524    3049348   1257589  177901.4
Telecommunications              2079     793249    459978   41272.8
Transportation                  4056    1331195    354733   28395.0
Wholesalers                     7567     630842    799416   11347.1

In [24]:
sectors.mean()

,Rank,Employees,Revenues,Profits
Sector,,,,
Aerospace & Defense,201.333333,71986.666667,28191.833333,2093.308333
Apparel,291.200000,50930.000000,13250.800000,1263.700000
Business Services,329.200000,42252.500000,9734.250000,1155.355000
Chemicals,284.714286,26064.714286,13476.214286,1137.021429
Energy,249.421053,15254.578947,20638.894737,6.501754
Engineering & Construction,331.153846,25314.615385,9590.923077,390.169231
Financials,247.797619,37642.833333,24614.369048,2719.776190
Food & Drug Stores,84.857143,198585.000000,55669.428571,1217.428571
"Food, Beverages & Tobacco",237.416667,41679.541667,19700.250000,2346.183333
Health Care,182.947368,61616.394737,34694.447368,2773.260526
"Hotels, Restaurants & Leisure",286.000000,183874.200000,12118.900000,1451.060000
Household Products,296.333333,40278.666667,15070.500000,1650.308333
Industrials,237.157895,64436.631579,22018.894737,1727.689474
Materials,343.368421,20280.000000,8934.473684,272.468421
Media,276.727273,34431.454545,16433.363636,1821.336364
Motor Vehicles & Parts,232.555556,91025.000000,43607.333333,1919.533333
Retailing,242.851064,123827.382979,29431.510638,991.785106
Technology,244.744186,70915.069767,29246.255814,4137.241860
Telecommunications,207.900000,79324.900000,45997.800000,4127.280000
Transportation,238.588235,78305.588235,20866.647059,1670.294118
Wholesalers,260.931034,21753.172414,27566.068966,391.279310

In [25]:
sectors.mean()['Revenues']

Sector
Aerospace & Defense              28191.833333
Apparel                          13250.800000
Business Services                 9734.250000
Chemicals                        13476.214286
Energy                           20638.894737
Engineering & Construction        9590.923077
Financials                       24614.369048
Food & Drug Stores               55669.428571
Food, Beverages & Tobacco        19700.250000
Health Care                      34694.447368
Hotels, Restaurants & Leisure    12118.900000
Household Products               15070.500000
Industrials                      22018.894737
Materials                         8934.473684
Media                            16433.363636
Motor Vehicles & Parts           43607.333333
Retailing                        29431.510638
Technology                       29246.255814
Telecommunications               45997.800000
Transportation                   20866.647059
Wholesalers                      27566.068966
Name: Revenues, dtype: float64

In [26]:
sectors.mean()['Revenues'].sort_values()

Sector
Materials                         8934.473684
Engineering & Construction        9590.923077
Business Services                 9734.250000
Hotels, Restaurants & Leisure    12118.900000
Apparel                          13250.800000
Chemicals                        13476.214286
Household Products               15070.500000
Media                            16433.363636
Food, Beverages & Tobacco        19700.250000
Energy                           20638.894737
Transportation                   20866.647059
Industrials                      22018.894737
Financials                       24614.369048
Wholesalers                      27566.068966
Aerospace & Defense              28191.833333
Technology                       29246.255814
Retailing                        29431.510638
Health Care                      34694.447368
Motor Vehicles & Parts           43607.333333
Telecommunications               45997.800000
Food & Drug Stores               55669.428571
Name: Revenues, dtype: float64